@import url(animate.min.css);
/* line 5, /mnt/sharedntfs/Programming/Android/ExpDroid-misc/presentation/reveal.js/css/expeditee.scss */
body {
  background: black;
  margin: 0;
  padding: 0; }

/* line 11, /mnt/sharedntfs/Programming/Android/ExpDroid-misc/presentation/reveal.js/css/expeditee.scss */
.shadowed, .reveal .window {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5); }

/* line 15, /mnt/sharedntfs/Programming/Android/ExpDroid-misc/presentation/reveal.js/css/expeditee.scss */
.reveal {
  font-family: 'Roboto Condensed', Roboto, sans-serif;
  font-size: 44px;
  color: #343434; }
  /* line 26, /mnt/sharedntfs/Programming/Android/ExpDroid-misc/presentation/reveal.js/css/expeditee.scss */
  .reveal section {
    height: 100%;
    width: 100%;
    text-align: left; }
  /* line 32, /mnt/sharedntfs/Programming/Android/ExpDroid-misc/presentation/reveal.js/css/expeditee.scss */
  .reveal .padded {
    padding: 1em; }
  /* line 36, /mnt/sharedntfs/Programming/Android/ExpDroid-misc/presentation/reveal.js/css/expeditee.scss */
  .reveal h1, .reveal h2 {
    font-family: 'Roboto Slab', Roboto, serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 0.9; }
  /* line 43, /mnt/sharedntfs/Programming/Android/ExpDroid-misc/presentation/reveal.js/css/expeditee.scss */
  .reveal h1 {
    font-size: 1.3em; }
  /* line 47, /mnt/sharedntfs/Programming/Android/ExpDroid-misc/presentation/reveal.js/css/expeditee.scss */
  .reveal h2 {
    font-size: 2.2em;
    color: white;
    margin-bottom: 0.5em; }
  /* line 54, /mnt/sharedntfs/Programming/Android/ExpDroid-misc/presentation/reveal.js/css/expeditee.scss */
  .reveal small {
    font-size: 0.4em; }
  /* line 58, /mnt/sharedntfs/Programming/Android/ExpDroid-misc/presentation/reveal.js/css/expeditee.scss */
  .reveal a {
    color: #006974;
    text-decoration: none; }
    /* line 62, /mnt/sharedntfs/Programming/Android/ExpDroid-misc/presentation/reveal.js/css/expeditee.scss */
    .reveal a:hover {
      color: #0097a7; }
  /* line 67, /mnt/sharedntfs/Programming/Android/ExpDroid-misc/presentation/reveal.js/css/expeditee.scss */
  .reveal ul {
    line-height: 1.3;
    list-style: none; }
    /* line 73, /mnt/sharedntfs/Programming/Android/ExpDroid-misc/presentation/reveal.js/css/expeditee.scss */
    .reveal ul li:before {
      content: '•';
      opacity: 0.2;
      margin-right: 0.5em; }
  /* line 83, /mnt/sharedntfs/Programming/Android/ExpDroid-misc/presentation/reveal.js/css/expeditee.scss */
  .reveal .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1000; }
  /* line 91, /mnt/sharedntfs/Programming/Android/ExpDroid-misc/presentation/reveal.js/css/expeditee.scss */
  .reveal .bg-secondary {
    background-color: #ffc107; }
  /* line 96, /mnt/sharedntfs/Programming/Android/ExpDroid-misc/presentation/reveal.js/css/expeditee.scss */
  .reveal .intro {
    line-height: 0.45; }
    /* line 100, /mnt/sharedntfs/Programming/Android/ExpDroid-misc/presentation/reveal.js/css/expeditee.scss */
    .reveal .intro .content {
      text-align: right;
      position: absolute;
      right: 130px;
      top: 200px; }
  /* line 108, /mnt/sharedntfs/Programming/Android/ExpDroid-misc/presentation/reveal.js/css/expeditee.scss */
  .reveal .window {
    display: inline-block;
    border-radius: 6px;
    overflow: hidden;
    position: relative; }
    /* line 111, /mnt/sharedntfs/Programming/Android/ExpDroid-misc/presentation/reveal.js/css/expeditee.scss */
    .reveal .window img {
      z-index: -1;
      position: relative; }
    /* line 123, /mnt/sharedntfs/Programming/Android/ExpDroid-misc/presentation/reveal.js/css/expeditee.scss */
    .reveal .window:before {
      content: attr(data-title);
      font-size: 15px;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      clear: both;
      display: block;
      width: 100%;
      padding: 10px;
      background: rgba(255, 255, 255, 0.9);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
    /* line 141, /mnt/sharedntfs/Programming/Android/ExpDroid-misc/presentation/reveal.js/css/expeditee.scss */
    .reveal .window:after {
      content: '';
      display: block;
      position: absolute;
      top: 12.5px;
      left: 12.5px;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background: rgba(0, 0, 0, 0.2);
      box-shadow: 14px 0 0 rgba(0, 0, 0, 0.2), 28px 0 0 rgba(0, 0, 0, 0.2); }
  /* line 162, /mnt/sharedntfs/Programming/Android/ExpDroid-misc/presentation/reveal.js/css/expeditee.scss */
  .reveal .centered {
    text-align: center; }
  /* line 166, /mnt/sharedntfs/Programming/Android/ExpDroid-misc/presentation/reveal.js/css/expeditee.scss */
  .reveal img, .reveal video {
    width: 100%;
    float: left; }

/*# sourceMappingURL=expeditee.css.map */